extends layout

block append content
  if user
    p Hello #{user}
    form(action="/logout", method="post")
      button(type="submit") Logout
  else
    p Hello Anonymous
    a(href="https://github.com/blan4/ZeroKnowledgeProofClient/releases") Download android application
    .links
      h4 S/Key
      a.intent(href="/signup/skey.png", data-android-intent="intent://signup?token=#{sKeySignupToken}#Intent;scheme=org.seniorsigan.zkpauth;package=org.seniorsigan.zkpauthenticatorclient;S.browser_fallback_url=https://zkpauth.herokuapp.com/signup/skey.png;end;") Sing up
      a.intent(href="/login/skey.png", data-android-intent="intent://login?token=#{sKeyLoginToken}#Intent;scheme=org.seniorsigan.zkpauth;package=org.seniorsigan.zkpauthenticatorclient;S.browser_fallback_url=https://zkpauth.herokuapp.com/login/skey.png;end;") Login
    .links
      h4 Schonorr
      a.intent(href="/signup/schnorr.png", data-android-intent="intent://signup?token=#{schnorrSignupToken}#Intent;scheme=org.seniorsigan.zkpauth;package=org.seniorsigan.zkpauthenticatorclient;S.browser_fallback_url=https://zkpauth.herokuapp.com/signup/schnorr.png;end;") Sing up
      a.intent(href="/login/schnorr.png", data-android-intent="intent://login?token=#{schnorrLoginToken}#Intent;scheme=org.seniorsigan.zkpauth;package=org.seniorsigan.zkpauthenticatorclient;S.browser_fallback_url=https://zkpauth.herokuapp.com/login/schnorr.png;end;") Login
    #code
